.root {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  overflow: hidden;
  min-height: 832px;
}

.title {
  display: flex;
  justify-content: center;
  font: 400 30px/1.66 "Mukta", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 167px;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 65px;
  left: 329px;
}
@media (max-width: 1199px) {
  .title {
    font-size: 24px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .title {
    font-size: 16px;
  }
}

.big_title {
  display: flex;
  justify-content: center;
  font: 400 36px/1.66 "Mukta", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 172px;
  height: 60px;
  position: absolute;
  top: 5px;
  right: 554px;
}
@media (max-width: 1199px) {
  .big_title {
    font-size: 32px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .big_title {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .big_title {
    font-size: 24px;
  }
}
@media (max-width: 479px) {
  .big_title {
    font-size: 20px;
  }
}

.highlights {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 16px/1.68 "Mukta", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 42px;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 8px;
  right: 18px;
}
@media (max-width: 1199px) {
  .highlights {
    font-size: 12px;
    text-align: center;
  }
}

.icon {
  width: 60px;
  height: -moz-min-content;
  height: min-content;
  aspect-ratio: 1;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  position: absolute;
  top: 5px;
  right: 9px;
}

.icon1 {
  width: 60px;
  height: -moz-min-content;
  height: min-content;
  aspect-ratio: 1;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  position: absolute;
  top: 5px;
  left: 12px;
}

.line {
  background-color: black;
  height: 1px;
  position: absolute;
  top: 293px;
  left: 340px;
  right: 340px;
}

.line1 {
  background-color: black;
  height: 1px;
  position: absolute;
  top: 253px;
  left: 340px;
  right: 340px;
}

.line2 {
  background-color: black;
  height: 1px;
  position: absolute;
  top: 213px;
  left: 340px;
  right: 340px;
}

.line3 {
  background-color: black;
  height: 1px;
  position: absolute;
  top: 173px;
  left: 340px;
  right: 340px;
}

.line4 {
  background-color: black;
  height: 1px;
  position: absolute;
  top: 133px;
  left: 340px;
  right: 340px;
}