.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-height: 832px;
}

.image {
  width: 60px;
  height: -moz-min-content;
  height: min-content;
  aspect-ratio: 1;
  background: var(--src) center center/cover no-repeat;
  position: absolute;
  top: 5px;
  right: 0px;
}

.group {
  display: flex;
  flex-direction: column;
  width: 640px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 320px;
}

.icon {
  width: 60px;
  height: -moz-min-content;
  height: min-content;
  aspect-ratio: 1;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  position: absolute;
  top: 5px;
  left: 12px;
}

.line {
  width: calc(100% - 640px);
  height: -moz-min-content;
  height: min-content;
  aspect-ratio: 320;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  position: absolute;
  top: 64px;
  left: 320px;
  right: 320px;
}

.line1 {
  background-color: black;
  height: 1px;
  position: absolute;
  top: 253px;
  left: 340px;
  right: 340px;
}

.line11 {
  background-color: black;
  height: 1px;
  position: absolute;
  top: 173px;
  left: 340px;
  right: 340px;
}

.line12 {
  background-color: black;
  height: 1px;
  position: absolute;
  top: 133px;
  left: 340px;
  right: 340px;
}

.line13 {
  background-color: black;
  height: 1px;
  position: absolute;
  top: 213px;
  left: 340px;
  right: 340px;
}

.group1 {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 5px;
  right: 9px;
}

.line14 {
  background-color: black;
  height: 1px;
  position: absolute;
  top: 293px;
  left: 340px;
  right: 340px;
}

.big_title {
  display: flex;
  justify-content: center;
  font: 400 36px/1.66 "Mukta", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 172px;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 5px;
  right: 554px;
}
@media (max-width: 1199px) {
  .big_title {
    font-size: 32px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .big_title {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .big_title {
    font-size: 24px;
  }
}
@media (max-width: 479px) {
  .big_title {
    font-size: 20px;
  }
}

.title {
  display: flex;
  justify-content: center;
  font: 400 30px/1.66 "Mukta", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 167px;
  height: -moz-min-content;
  height: min-content;
  position: absolute;
  top: 65px;
  left: 329px;
}
@media (max-width: 1199px) {
  .title {
    font-size: 24px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .title {
    font-size: 16px;
  }
}

.rect {
  background-color: black;
  width: 1px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  min-height: 832px;
  left: 320px;
}

.rect1 {
  background-color: black;
  width: 1px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  min-height: 832px;
  right: 319px;
}