<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Cantina - Admin API Manager</title>
</head>
<body>
    <form action="{{ url_for('admin_add_api') }}" method="post">
        <label>API Name: </label>
        <label><input type="text" placeholder="Enter API Name" name="api-name" required></label><br>
        <label>API Description: </label>
        <label><input type="text" placeholder="Enter a description for the API" name="api-desc" required></label><br>
        <label><h2>API Permission:</h2></label>
        <label>Create File: </label>
        <label><input type="checkbox" placeholder="Check if the API has the admin permission" name="api_create_file"></label><br>
        <label>Upload File: </label>
        <label><input type="checkbox" placeholder="Check if the API has the admin permission" name="api_upload_file"></label><br>
        <label>Delete File: </label>
        <label><input type="checkbox" placeholder="Check if the API has the admin permission" name="api_delete_file"></label><br>
        <label>Create Folder: </label>
        <label><input type="checkbox" placeholder="Check if the API has the admin permission" name="api_create_folder"></label><br>
        <label>Delete Folder: </label>
        <label><input type="checkbox" placeholder="Check if the API has the admin permission" name="api_delete_folder"></label><br>
        <label>Share File And Folder: </label>
        <label><input type="checkbox" placeholder="Check if the API has the admin permission" name="api_share_file_folder"></label><br>
        <label>Delete Share File And Folder: </label>
        <label><input type="checkbox" placeholder="Check if the API has the admin permission" name="api_delete_share_file_folder"></label><br>
        <label>Create User: </label>
        <label><input type="checkbox" placeholder="Check if the API has the admin permission" name="api_create_user"></label><br>
        <label>Delete User: </label>
        <label><input type="checkbox" placeholder="Check if the API has the admin permission" name="api_delete_user"></label><br>
        <button type="submit">Submit User</button>
    </form>
</body>
</html>