<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cantina - Admin User Manager</title>
</head>
<body>
    <div class="has-text-centered">
        <h1 class="is-size-1"><a href="{{ url_for('admin_home') }}">Cantina</a></h1><br>
        <div class="columns is-centered is-vcentered">
            <form action="{{ url_for('admin_add_user') }}" method="post">
                <label class="is-size-4">Nom d'utilisateur: </label>
                <label><input style="margin-bottom: 1em" class="input" type="text" placeholder="Enter Username" name="uname" required></label><br>
                <label class="is-size-4">Adresse Email de l'utilisateur: </label>
                <label><input style="margin-bottom: 1em" class="input" type="email" placeholder="Enter an email" name="email" required></label><br>
                <label class="is-size-4">Mot de passe de l'utilisateur: </label>
                <label><input style="margin-bottom: 1em" class="input" type="password" placeholder="Enter a password" name="pword1" required></label><br>
                <label class="is-size-4">Confirmation du mot de passe de l'utilisateur: </label>
                <label><input style="margin-bottom: 1em" class="input" type="password" placeholder="Enter a password" name="pword2" required></label><br>
                <label><input style="margin-bottom: 1em" class="checkbox" type="checkbox" name="admin"><ppp class="is-size-4"> Permission d'administrateur</ppp></label><br><br>
                <button class="button is-primary" type="submit">Submit User</button>
            </form>
        </div>
    </div>
</body>
</html>