<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Cantina - Admin Show Log</title>
</head>
<body>
    <div class="has-text-centered">
        <h1 class="is-size-1"><a href="{{ url_for('admin_home') }}">Cantina</a></h1><br>
    </div>
    <hr style="height:5px; visibility:hidden;" />
    <ul>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th class="is-size-5">ID</th>
                    <th class="is-size-5">Nom</th>
                </tr>
            </thead>
            <tbody>
                {% for i in all_log %}
                    <tr>
                        <td><a href="{{ url_for('admin_show_log')+i[0]|string }}">{{ i[0] }}</a></td>
                        <td><a href="{{ url_for('admin_show_log')+i[0]|string }}">{{ i[1] }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </ul>
    <hr style="height: 25px; visibility: hidden;" />
</body>
</html>