<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cantina - Admin User Manager</title>
</head>
<body>
    <div class="has-text-centered">
        <h1 class="is-size-1"><a href="{{ url_for('admin_show_user') }}">Cantina</a></h1><br>
    </div>
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th class="is-size-5">ID</th>
                <th class="is-size-5">Token</th>
                <th class="is-size-5">Nom</th>
                <th class="is-size-5">Administrateur</th>
                <th class="is-size-5">Dernière connexion</th>
                <th class="is-size-5">Espace de travail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user_account[0] }}</td>
                <td>{{ user_account[1] }}</td>
                <td>{{ user_account[2] }}</td>
                <td>{% if user_account[4] %}Oui{% else %}Non{% endif %}</td>
                <td>{{ user_account[7] }}</td>
                <td>{{ user_account[5] }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>