<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        a#gras {
            text-decoration: underline;
            font-weight: bold;
        }
    </style>
    <title>Cantina - Admin User Manager</title>
</head>
<body>
    <h1><a href="{{ url_for('admin_show_log') }}">Cantina</a></h1><br>
    <a id="gras">ID:</a> {{ log[0] }}<br>
    <a id="gras">Name:</a> {{ log[1] }}<br>
    <a id="gras">User Adresse IP:</a> {{ log[2] }}<br>
    <a id="gras">User Token:</a> {{ log[3] }}<br>
    <a id="gras">Argument:</a> {{ log[4] }}<br>
    <a id="gras">Log Level:</a> {{ log[5] }}<br>
    <a id="gras">Date:</a> {{ log[6] }}
</body>
</html>