<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        a#gras {
            text-decoration: underline;
            font-weight: bold;
            color: black;
        }
    </style>
    <title>Cantina - Admin User Manager</title>
</head>
<body>
    <h1><a href="{{ url_for('admin_home') }}">Cantina</a></h1><br>
    <a id="gras">ID:</a> {{ user_account[0] }}<br>
    <a id="gras">Token:</a> {{ user_account[1] }}<br>
    <a id="gras">Name:</a> {{ user_account[2] }}<br>
    <a id="gras">Is Admin :</a> {% if user_account[4] %}True{% else %}False{% endif %}<br>
    <a id="gras">Last Online: </a> {{ user_account[7] }}<br>
    <a id="gras">Working Directory:</a> {{ user_account[5]}}
</body>
</html>