<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cantina - Home</title>
</head>
<body>
    <div class="has-text-centered">
        <h1 class="is-size-1"><a href="{{ url_for('home') }}">Cantina</a></h1><br>
        <h1 class="is-size-3">Bonjour {{ cur[0] }}!</h1><br>
        <a class="is-size-4" href="{{ url_for('file') }}">Mes fichiers</a><br>
        <a class="is-size-4" href="{{ url_for('show_share_file') }}">Mes fichiers partagés</a><br>
    </div>
</body>
</html>