<!DOCTYPE html>
<!--suppress ALL -->
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Cantina Cloud - My file</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename="delete_file.js") }}"></script>
    <script src="{{ url_for('static', filename="delete_folder.js") }}"></script>
    <script src="{{ url_for('static', filename="create_folder.js") }}"></script>
    <script src="{{ url_for('static', filename="create_file.js") }}"></script>
    <script src="{{ url_for('static', filename="share_file.js") }}"></script>
    <script src="{{ url_for('static', filename="share_folder.js") }}"></script>
</head>
<body>
    <h1><a href="{{ url_for('home') }}">Cantina</a></h1><br>
    <button type = "button" onclick="window.location.href='{{ url_for('upload_file', path=path) }}'">Upload File</button>
    <button onclick="create_file('{{ path }}')">Create file</button>
    <button onclick="create_folder('{{ path }}')">Create Folder</button>
    <a href="{{ url_for('file', path=lastPath) }}">..</a>
    {% for item in dir %}
        <li><a href={{ url_for('file', path=path+item+'/') }}>{{ item }}</a></li>
        <button onclick="delete_folder('{{ path }}', '{{ item }}')"><img src="https://img.icons8.com/ios/50/null/trash--v1.png" alt="Une poubelle pour supprimer ce dossier"/></button>
        <button onclick="share_folder('{{ path }}', '{{ item }}')"><img src="https://img.icons8.com/ios/50/null/link--v1.png" alt="Une poubelle pour supprimer ce dossier"/></button>
    {% endfor %}
    <br><br><br>
    {% for item in file %}
        <div>
            <li style="display: inline-block;">{{ item }}</li>
            <button onclick="delete_file('{{ path }}', '{{ item }}')"><img src="https://img.icons8.com/ios/50/null/trash--v1.png" alt="Une poubelle pour supprimer ce fichier"/></button>
            <button onclick="window.location.href='{{ url_for('download_file', path=path, item=item) }}'"><img src="https://img.icons8.com/ios/50/null/download-from-cloud--v1.png" alt="Un nuage avec une flèche qui descends pour télécharger le fichier"/></button>
            <button onclick="share_file('{{ path }}', '{{ item }}'); "><img src="https://img.icons8.com/ios/50/null/link--v1.png" alt="Une poubelle pour supprimer ce fichier"/></button>
        </div>
    {% endfor %}
</body>
</html>
