<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Cantina Cloud - Upload File</title>
</head>
<body>
    <h1><a href="{{ url_for('file') }}">Cantina</a></h1><br>
    <form action = "{{ url_for('upload_file', path=request.args.get('path')) }}" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
</body>
</html>