<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Cantina - Redirect</title>
</head>
<body>
    <script>
        if (/iPhone/i.test(navigator.userAgent)) {
            window.setTimeout(function() {
                let prompt_password = prompt('Quelle est le mots de passe de ce fichier? ');
                window.location.replace('?password='+prompt_password);
            }, 100);
        } else {
            let prompt_password = prompt('Quelle est le mots de passe de ce fichier? ');
            window.location.replace('?password='+prompt_password);
        }
    </script>
</body>
</html>